In [1]:
print('I will be successful')

I will be successful

In [48]:
#Basic data types and assignments
a = 89

In [2]:
a+a

178

In [5]:
a=a*a

In [6]:
a

62742241

In [9]:
type(a)

float

In [8]:
a = 39.76

In [10]:
my_income = 500

In [11]:
tax_rate = 0.12
my_taxes = my_income *tax_rate

In [12]:
my_taxes

60.0

In [13]:
'hello'

'hello'

In [14]:
"world"

'world'

In [15]:
"I'm Art"

"I'm Art"

In [16]:
print("hello earth")
print("hello mars")

hello earth
hello mars

In [18]:
print("hello \n venus")

hello
 venus

In [19]:
len('this is great')

13

In [20]:
myString = "wake me up"

In [21]:
myString

'wake me up'

In [22]:
#String indexing
myString[3]

'e'

In [25]:
myString[-2]

'u'

In [27]:
#String slicing
myString[5:10]

'me up'

In [28]:
myString[::2]

'wk eu'

In [29]:
myString[2:3:2]

'k'

In [30]:
myString[::-1]

'pu em ekaw'

In [31]:
x = "Don't be annoying!"

In [35]:
x = x + x

In [36]:
x

"Don't be annoying!Don't be annoying!Don't be annoying!Don't be annoying!"

In [37]:
x

"Don't be annoying!Don't be annoying!Don't be annoying!Don't be annoying!"

In [38]:
x.upper()

"DON'T BE ANNOYING!DON'T BE ANNOYING!DON'T BE ANNOYING!DON'T BE ANNOYING!"

In [39]:
y = 'This is a string'

In [40]:
x.split('i')

["Don't be annoy",
 "ng!Don't be annoy",
 "ng!Don't be annoy",
 "ng!Don't be annoy",
 'ng!']

In [41]:
y.split('s')

['Thi', ' i', ' a ', 'tring']

In [47]:
#Formatting with strings
print('Where are you {}'.format('going?'))
print('I {2} {0} {1}'.format('do', 'not', 'know'))
print('Ok, {a} {b} {c}'.format(a="let's", b="go", c="home"))

Where are you going?
I know do not
Ok, let's go home

In [50]:
#Formatting with float
result = 111/425
result

0.2611764705882353

In [51]:
print('The result was {r:1.2f}'.format(r=result))

The result was 0.26

In [61]:
#Lists
my_list_ints = [1,2,3]
my_list_strings = ['a','hat','black']
my_list_comb = [65,'house','4','sale']

In [65]:
join_list = my_list_ints + my_list_strings

In [63]:
my_list_comb[1]

'house'

In [66]:
join_list[5]

'black'

In [68]:
my_list_comb.append(6)
print(my_list_comb)

[65, 'house', '4', 'sale', 6, 6]

In [69]:
my_list_comb.pop()
print(my_list_comb)

[65, 'house', '4', 'sale', 6]

In [70]:
newlist =['a','d','t','h','v']
newlist.sort()
newlist

['a', 'd', 'h', 't', 'v']

In [72]:
numlist = [5,23,98,1,66]
numlist.reverse()
numlist

[66, 1, 98, 23, 5]

In [73]:
#Dict(tionaries)
myDict = {'LAX':'1400', 'NYC':'2400', 'CHI':'3400'}

In [74]:
myDict['NYC']

'2400'

In [77]:
myDictLists = {'L1':[1,2,3],'L2':['red','black','white']}

In [82]:
myDictLists['L1']

[1, 2, 3]

In [83]:
myDictLists['L2'][2]

'white'

In [84]:
myDict.keys()

dict_keys(['LAX', 'NYC', 'CHI'])

In [85]:
myDict.values()

dict_values(['1400', '2400', '3400'])

In [89]:
#Tuples
myTupInt = (1,2,3)
myTupInt

(1, 2, 3)

In [93]:
myTupInt.index(2)

1

In [94]:
myTupInt.count(3)

1

In [98]:
#Sets
myset = set()
myset.add(1)
myset.add(7)

In [99]:
myset

{1, 7}

In [101]:
myset.add(7)
myset

{1, 7}

In [103]:
mylist = [2,2,2,2,4,4,4,6,6,6,6]
set(mylist)

{2, 4, 6}

In [104]:
#Booleans
True

True

In [107]:
1 > 2

False

In [110]:
c = None
print(c)

None